<%- include header %>
<form method="post">
	UserName:<input type="text" name="name" /><br />
	Password:<input type="password" name="password" /><br />
	<input type="submit" name="Login" />
</form>
<a href="/login/github">Login Via GitHub Account</a>
<%- include footer %>